.movement h2 {
	padding-bottom: 0px;
	margin-bottom:  0px;
}

.movement h4 {
	font-weight:    normal;
	padding-bottom: 0px;
	margin-bottom:  0px;
}

.movement hr {
	padding-top: 5px;
	margin-top:  0px;
}