body {
	padding-left: 3.5px;
	text-align: left;
}

.contents {
	float: none;
}

a.anchor {
    display: block;
    position: relative;
    top: -75px;
    visibility: hidden;
}

.terms h2 {
	margin-bottom:  0px;
	padding-bottom: 0px;
}

.terms hr {
	margin-top:  2px;
	padding-top: 0px;
}

.terms ul {
	list-style: none;
	margin-left: -25px;
}

.terms table {
	
}

.terms hr, th {
	padding: 5px;
	padding-top: 0px;
	margin-top: -5px;
}

.terms th:nth-child(1) {
	border-right:  solid;
	border-width:  1px;
	padding-right: 25px;
}

.terms th:nth-child(2) {
	border-right:  solid;
	border-width:  1px;
	padding-right: 25px;
}

.terms th:nth-child(2n)   {
	padding-left: 25px;
}