.top {
	padding-top: 30px;
	padding-left: 3.5px;
}

.toptitle {
	font-size: 50px;
}

.contents {
	position: absolute;
	width: 200px;
	border: solid;
	z-index: -1;
}

.contents h3 {
	text-align: center;
	margin: 10px;
	margin-bottom: 0px;
}

.contents hl {
	margin-top: 0px;
	padding-top: 0px;
}

.contents hl {
	display: solid;
	margin: 0px;
}

.contents ul {
	margin: 0px;
	margin-bottom: 10px;
}